/Users/jzozaya/Documents/development/examples/vertical_parallax/css
/Users/jzozaya/Documents/development/examples/vertical_parallax/img
/Users/jzozaya/Documents/development/examples/vertical_parallax/index.html
/Users/jzozaya/Documents/development/examples/vertical_parallax/js